body{
  background-image: url("../../silver.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.box{
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}